@model sol_Job_Bank.Models.Application

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posting.PostingSummary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Applicant.FullName)
        </dd>
    </dl>
</div>
<div>
    @if (!(User.IsInRole("Staff") && User.Identity.Name != Model.CreatedBy))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> @:|
    }
    <a asp-action="Index">Back to List of Applications</a>
</div>
